<%= link_to 'Cadastrar Nova Vaga', new_job_path, class:"btn btn-primary" %><br/><br/><br/>

<% if @jobs.empty? %>
  <p>Você ainda não cadastrou nenhuma vaga :(</p>
<% end %>

<h3>Vagas Ativas</h3>
<% @jobs.each do |job| %>
  <% if job.status == 'active' %>
    <%= link_to job.title, job_path(job) %><br/>
  <% end %>
<% end %>

<br/>

<h3>Vagas Finalizadas</h3>
<% @jobs.each do |job| %>
  <% if job.status == 'finished' %>
    <%= link_to job.title, job_path(job) %><br/>
  <% end %>
<% end %>