<div style='text-align: center;'>
  <% if headhunter_signed_in? %>
    <h2>Seja Bem vindo(a)!</h2>
    
  <% elsif candidate_signed_in? %>
    <h2>Seja Bem vindo(a)!</h2>
    <% if current_candidate.verified_profile? %>
      Você está pronto para se candidatar! :D<br/><br/>
    <% else %>
      Complete seu perfil para começar a se candidatar :)<br/><br/>
    <% end %>
</div>
  
<% else %>
  <h3>Olá visitante!</h3>
  Cadastre-se para poder buscar e se candidatar as nossas vagas<br/><br/>
  <%= link_to 'Sou Recrutador', headhunter_session_path %><br/>
  <%= link_to 'Sou Candidato', candidate_session_path %> <br/>
<% end %>
