<%= form_with url: denial_subscription_path, local: true do |d| %>
  <h2><%= d.label :denial_reason, 'Qual motivo da recusa?' %></h2>
  <%= d.text_area(:denial_reason, size: "24x6") %>
  <%= d.submit 'Enviar' %>
<% end %>


