<h1>Minhas Inscrições</h1>

<% @subscriptions.each do |subscription| %>
  <%= link_to subscription.job.title, job_path(subscription.job.id) %> <br/>
<% end %>

<br/>
<%= link_to 'Voltar', root_path %>